---
# INTERMEDIATE PYTHON PROGRAMMING
# CHAPTER 2 - Using Pandas `DataFrame`
---

# USING PANDAS
- `pandas` is a fast, powerful, flexible and easy to use open source data analysis and manipulation add-on for Python
- `pandas` is built on top of `numpy` and therefore quite often these two are used together.

## Import `pandas`
To import `numpy` and `pandas`

**import numpy using alias `np`**  
`import numpy as np`

**import pandas using alias `pd`**  
`import pandas as pd`

## Check Installed Version

To check the version of `numpy` and `pandas`, type the following commands

```
print(np.__version__)
print(pd.__version__)
```

## Some Handy Features

Some quickhands to speed up your code typing

**Creating array**

The following statement involves too many special characters to type and therefore it will be slow to enter.

```
l = ['A', 'B', 'C', 'D', 'E']
``` 

Using `list()` function would pick a character a time and make it a independant list member.
```
l = list('ABCDE')
```

Use `split()` function to separate strings with SPACES in-between
```
l = 'A B C D E'.split()
```

**Generates a range of dates**:
```
dates = pd.date_range('20210101', periods=7) 
type(dates) # returns pandas.core.indexes.datetimes.DatetimeIndex
```

## Use `type()` function to check type

**Remember**: you can use `type()` function to verify the type of a variable or the returned object from a function call.

**Example**:
```
type(dates)
```

# DELETE VARIABLE FROM KERNEL

Use the following command to delete variable from environment

`del varaialb_name`

e.g.:

```
greeting = "hello from Sunny"
print(greeting)
del greeting
```

After deleting, you won't be able to access `greeting` variable
```
print(greeting) # since greeting is deleted, this line will throw an error

```

# USING PANDAS `DataFrame`

A `DataFrame` is a two dimensional data structure.  

It's one of the most widely used type for data science.

**To declare a dataframe, use `pd.DataFrame()` function**:
```
students = pd.DataFrame({
    "StudentID": ["1001", "1002", "1003", "1004", "1005"],
    "Name": ["Andy", "Ben", "Cathy", "Debra", "Eva"],
    "Age": [20, 22, 23, 22, 21],
    "Sex": ["male", "male", "female", "female", "female"],
    "Year": [1, 3, 4, 3, 2]
})
students.set_index('StudentID', inplace=True)
```

**Check the type by using `type()` function**
```
print(type(students)) # it returns pandas.core.frame.DataFrame

```
**In real situation**
- It's NOT commont to load data like above.  This is justa a easy example of `DataFrame`
- Instead, we usually import data from external files like **csv**, **excel**, **json**

# `DataFrame` INFORMATION
Use the following function or properties to query your data-frame  
* `students.shape`   # returns the dimension of data-frame in the form of tuple
* `students.shape[0]`   #  retrieves the first elememnt of the returned tuple.  it represents the number of row
* `students.info()`   #  returns the detailed information for a data-frame
* `students.describe()`   #  shows the basic statistical summary such as min, max, average of a column (only for numeric columns)

## Converting pandas data-frame to numpy array

Many functions only accept numpy array or python dictionary as arguments.

In these cases, type conversion is required.

To convert dataframe to numpy array
```
students.to_numpy()
students.values
```

To convert dataframe to Python dictionary
```
students.to_dict()
```

# SELECTING / RETRIEVING COLUMN(S)

## To Select a Column 

Specify a **column name** (in string) to indicate which column you want to retrieve

**Example**
```
students['Name']  # the key is case-sensitive
name = students['Name']
print(type(name))  # returns pandas.core.series.Series
```

A Pandas `Series` is like a column in a table.

It is a one-dimensional array holding data of any type.

## Retrieving Multiple Columns
Use `[]` (square bracket) with a column names (in string) to indicate which columns you want to retrieve

**Example**

* `columns = ['Name', 'Year']` # declare the columns you want in a list
* `print(students[columns])` # pass the column list as paramenter to the dataframe
* `print(type(students[columns]))` # Returns **pandas.core.frame.DataFrame**

A quick hand to write the above code is using **double** square brackets `[[ ]]`
```
name_and_year = students[['Name', 'Year']] # doubled square bracket are used here
print(type(name_and_year)) # Returns **pandas.core.frame.DataFrame**
```
**Below is a mistake**
```
name_and_year = students['Name', 'Year'] # this is a mistake
```

# SELECTING / RETRIEVING ROW(S)

## Use `loc[]` to Locate Row
Pandas use the `loc` attribute to return one or more row(s)

Example:
```
students.loc[0]  # specify by row number
students.loc[1]  # specify by row number
type(students.loc[0])  # returns pandas.core.series.Series
```

A Pandas Series is a one-dimensional array holding data of any type.

## Alternative to Locate Multiple Rows
Provide a list of row number: `[0, 2]`

**Example**:
```
rows = [0, 2]  # defines a list of row number separated by comma
students.loc[rows]  # use the defined row numbers as parameter for loc[]
```

**Or simplified it by one liner**:
```
students.loc[[0, 2]]
type(students.loc[[0, 2]])  # returns DataFrame
```

**Below is a mistake**
```
students.loc[0, 2]  # have to use double pairs of squar brackets
```

## Retrieving Rows with Range
- Provide the starting row number and ending row number
- Use `:` to separate the starting row number and ending row number

**Using `loc[]` function**:

* `students.loc[0:2]`  # selecting from row 0 to 2 (inclusive)
* `students.loc[:2]`  # omitting the starting index. selecting from row 0 to 2 
* `students.loc[2:]`  # omitting the ending index. selecting from row 2 all the way to the end
* `students.loc[0:2, 'Age']`  # selecting from row 0 to 2 (inclusive) and extract only Age column

**Using `iloc[]` function**:

* `students.iloc[0:2]`  # selecting from row 0 to 2 (exclusive)
* `students.iloc[:2]`  # omitting the starting index. selecting from row 0 to 2 (exclusive)
* `students.iloc[2:]`  # omitting the ending index. selecting from row 2 all the way to the end
* `students.iloc[0:2, 2]`  # selecting from row 0 to 2 (exclusive) and extract only 2nd column

Short hand:
(Works a bit different. It's exclusive. The end index is NOT included in the result)

* `students[0:2]`  # selecting from row 0 to 2) (exclusive)
* `students[:2]`  # omitting the starting index. selecting from row 0 to 2 (exclusive)
* `students[2:]`  # from position 2 to the end
* `students[0:2]['Age']`  # selecting from row 0 to 2 (exclusive) and extract only 2nd column

# FILTERING ROW(S)
1. Scans through each row
2. Performs a logical operation (check whether is True of False) on a column's value of each row 
3. Returns `True` or `False` as result for the comparison operation on each row

**Example**:

* `students['Age']<23` # this returns a Series of True/False
* `filter = students['Age']<23` # this gets a Series of True/False and store them in a variable named filter
* `print(filter)`
* `type(filter)` # It's a Pandas Series of True/False
* `students[filter]` # use the filter as parameters. A True means that row will stay.  A False means that row will be kicked out.


**It's common to code in one-liner manner**
```
students[students['Age']<23]
```

## Filtering Rows with Multiple Conditions
**Example**:

* `filter = students['Age']<23`
* `filter2 = students['Year']==3`
* `students[filter & filter2]`   # &: AND logical operator
* `students[filter | filter2]`   # |: OR logical operator


**Or in one-liner**

* `students[(students['Age']<23) & (students['Year']==3)]`   # make sure you include the a pair of `( )` for each logical operation
* `students[(students['Age']<23) | (students['Year']==3)]`   # make sure you include the a pair of `( )` for each logical operation

## Practice One-liner Approach

**Challenge**: Retrieve students who are younger than 23 and who is a year 3 student

## `concat()` Function

You can use `concat()` function to merge multiple `Series` to form a data-frame

A Truth Table for AND operation
```
pd.concat([filter, filter2, (filter & filter2)], axis=1)
```

A Truth Table for OR operation
```
pd.concat([filter, filter2, (filter | filter2)], axis=1)

```

## Restricting Rows and Columns
You can apply both **row filtering** and **columns selecting** in chain

Example:

* `students[students['Year']==3]` # row filtering only
* `students[students['Year']==3][['Name', 'Year']]` # row filtering and followed by column selecting.

**Note**: The code can easily become difficult to read

In [ ]:
students.loc[0:2, ['Age', 'Sex']]

# PRACTICING: Row/Column Selecting

You have 5 minutes to practice the rows and column Selecting statements

## Load the external **graduates.csv** file
```
df = pd.read_csv('./data/graduates.csv')
```

**Use `head()`, `info()` and `describe()` function to query the DataFrame**
```
df.head() # returns the first 5 rows for previewing
df.info() # information about a DataFrame
df.desribe() # Simple statistical summary
```

**Redminder**: you can use `Tab` key for code prompts and completion

### Challenge #1
**Select all the rows that `LevelOfStudy` is  `'Undergraduate'`**

Hints: use `==` to check if the value of `LevelOfStudy` is equivalent to `'Undergraduate'`

### Challenge #2
**Select all the rows that `LevelOfStudy` is  'Undergraduate' and `ProgrammeCategory` is 'Business and Management'**

Hints: 
* Use `&` to put together mutilple logical expression
* Use `()` to wrap each logical expression

### Challenge #3
**Select all the rows that `LevelOfStudy` is  'Undergraduate' and `ProgrammeCategory` is 'Business and Management' and for rows of 'male' only**

Hints: 
* Use `&` to put together mutilple logical expression
* Use `()` to wrap each logical expression

### Challenge #4
- Select all the rows that `LevelOfStudy` is  `Undergraduate` and `ProgrammeCategory` is `Business and Management` and for rows of male only.  
- Show only the `AcademicYear` and `Headcount`

Hints: 
* Use `&` to put together mutilple logical expression
* Use `()` to wrap each logical expression

# READING EXTERNAL DATA SOURCE

use `pd.read_xxx()` funtion to read file of various types.

Type `pd.read_` + `TAB` to see the complete list of read functions.

## Loading HKIRD Tax Allowance
the dot `./` means current path (current working directory)
```
allowance_df = pd.read_csv('./data/allowance.csv') 
```

**Querying the DataFrame**:
```
allowance_df.head()  # return the first 5 rows
allowance_df.tail()  # return the last 5 rows
allowance_df.head(8)
allowance_df.tail(8)
allowance_df.info()  # the table meta data
allowance_df.describe()  # basic statistic information
```
**Handling Empty Values**:
- The `info()` method also tells us how many Non-Null values there are present in each column
- Empty values, or Null values, can be bad when analyzing data, and you should consider removing rows with empty values or replace the empty value with an average value of the column
- This process is a called data tidying.

# TIDYING DATA

**Garbage In, Garbage Out**  
Before you actually use the data for data science purpose (analysis, data visualization and machine learning), your need to fix
bad data in your data set.

**Bad data refers to**:
- Empty cells
- Data in wrong format
- Wrong data
- Duplicates

## Rename Columns: `rename()`

Call `rename()` function with dictionay object

Example:
```
students.rename(columns={'Name': 'StudentName', 'Sex': 'Gender'})  # non-destructiv - it generates a few data-frame
```

## Delete Columns

Call `drop()` function to delete the columns that your don't want

Example:
```
students.drop(columns=['Age', 'Year']) # non-destructiv - it generates a few data-frame
```

**Reminder**: this statement returns a new dataframe

## Replacing the existing data-frame variable

We usually tend to replace the old dataframe variable with the **processed data frame** (for the sake of less memory consumption) and therefore the code will go like

```
students
students = students.rename(columns={'Name': 'StudentName', 'Sex': 'Gender'})
students = students.drop(columns=['Age', 'Year'])

```

## Drop Rows with Empty Values

Empty values cause noise to your data. One of the fixing is removing them.

You can remove the rows with empty value by `dropna()` function

```
cleaned_df = allowance_df.dropna()
print(allowance_df.shape[0])
print(cleaned_df.shape[0])
cleaned_df
cleaned_df.info()
cleaned_df.describe()
```

## Replacing empty cells with mean or median

An alternative approach to fix rows will empty values is using `fillna()` function to fill in the missing values for these rows.

Type `allowance_df` to verify if there are any missing values (`NaN`) in the DataFrame

**Describe the column's statistical summary**  
`allowance_df["Personal_Disability_Allowance"].describe()`

**Retrieve the mean value of the column**  
`x = allowance_df["Personal_Disability_Allowance"].mean()`

**Fill in the missing value using `fillna()` function**  
`allowance_df["Personal_Disability_Allowance"].fillna(x)`

**Describe the column's statistical summary**  
`allowance_df["Personal_Disability_Allowance"].describe()`

# AGGREGATION FUNCTIONS

aggregation functions provide summary information about a column.

```
allowance_df = pd.read_csv('./data/allowance.csv')
allowance_df.info()
```

* `allowance_df['Basic'].max()` # returns the maximum value for the column
* `allowance_df['Basic'].min()` # returns the minimum value for the column
* `allowance_df['Basic'].median()` # returns the median for the column
* `allowance_df['Basic'].mean()` # returns the mean value for the column
* `allowance_df['Basic'].std()` # returns the standard deviation for the column
* `allowance_df['Basic'].sum()` # returns the standard deviation for the column

# FINDING COLUMNS' RELATIONSHIP
The `corr()` method calculates the relationship between each column in your data set.
```
df.corr() # make sure all the columns are number type
```
The Result of the `corr()` method is a table with a lot of numbers that represents how well the relationship is between two columns.
- The number varies from `-1` to `1`.
- `1` means that there is a 1 to 1 relationship (a perfect correlation).
- `0.7` or above is also a good relationship, and if you increase one value, the other will probably increase as well.
- `-0.7` or below would be just as good relationship as 0.7, but if you increase one value, the other will go down.
- `0.2` means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

**Example**:
```
allowance_df.head()
allowance_df.corr() # Produce errors as the some columns are NOT number and therefore not fitting for calculation
allowance_df[['Basic', 'Married_Person', 'Child']].corr()
```

# GROUPBY and GROUPS' AGGREGATION

## Loading **graduates.csv** File  
`gra = pd.read_csv('./data/graduates.csv')`

**Use `info()` function to show summary about the DataFrame**  
`gra.info()`

In [ ]:
gra = pd.read_csv('./data/graduates.csv')

## `Groupby()`: divide data into groups

**`unique()` function**: show unique values of a column
```
gra["LevelOfStudy"].unique()
gra["ProgrammeCategory"].unique()
```

**`groupby()` function**: divide rows in the groups
```
gra.groupby('LevelOfStudy')
gra.groupby('ProgrammeCategory')
group_by_level = gra.groupby('LevelOfStudy')  # save the grouping as a variable
group_by_category = gra.groupby('ProgrammeCategory')  # save the grouping as a variable
group_by_level.groups  # Display groups and rows belongs to that groups
```

**Those integer numbers in the list are the row number.**
```
group_by_level.first()  # gives you a preview of the first few groups
group_by_level.last()  # gives you a previous of the last few groups
group_by_level.size()  # return the number of row (group size) in each group
group_by_level.get_group("Sub-degree")  # get a group by provide the KEY of the group
```

## `describe()` function

**Show the basic statistics summary of numberic column.**

`
group_by_level.describe()
`

## `unique()` function

This function list the unique values for a column.

Examples:
```
gra["LevelOfStudy"].unique()
gra["ProgrammeCategory"].unique()
```

## `value_counts()` function

This function returns the number of row for each distinct value

Example:
```
gra["LevelOfStudy"].value_counts()
gra['ProgrammeCategory'].value_counts()
```


```
list(gra.groupby('LevelOfStudy'))
group_by_level = gra.groupby('LevelOfStudy')
group_by_level.groups
group_by_category = gra.groupby('ProgrammeCategory')
group_by_category

group_by_level.groups # Display groups and rows belongs to that groups

for group_key, group_data in group_by_level:
    print(group_key)
    print(group_data.head())
    
group_by_level.size()    
```

## Those integer numbers in the list are the row number.

**Group Info**
```
group_by_level.first() # gives you a preview of the first few groups
group_by_level.last() # gives you a previous of the last few groups
group_by_level.size() # return the number of row (group size) in each group
```

**To get a group**
```
group_by_level.get_group("Sub-degree") # get a group by provide the KEY of the group
```


**To loop through the groups**
```
for group_key, group_data in group_by_level:
    print(group_key)
    print(group_data.head())
```

## Group Aggregated Data

An aggregated function returns a single aggregated value for each group.

**Using a column name (Returns as Series)**:
```
group_by_level.Headcount.sum() # summation of each group
group_by_level.Headcount.mean() # mean value of each group
group_by_level.Headcount.max() # max value of each group
group_by_level.Headcount.min() # min value of each group
```

**Using agg() function (Returns as data-frame)**:
```
group_by_level.Headcount.agg(['max', 'min', 'count', 'median', 'mean']) 
```

**Without column (Returns as data-frame)**:

- we donâ€™t actually have to specify a column like Headcout. 
- Without a column, it will perform the aggregation across all of the **numeric** columns

```
group_by_level.agg('sum') # summation of each group
group_by_level.agg('max') # max value of each group
group_by_level.agg('min') # min value of each group
```

## Aggregated values of the whole data-frame

Aggregated functions can also be applied to a complete column of a dataframe
```
gra["Headcount"].sum()
gra["Headcount"].mean()
gra["Headcount"].max()
gra["Headcount"].min()
gra["Headcount"].std()
```

## Group by with multiple columns

**Example**:
```
gra['LevelOfStudy'].unique()
gra['ProgrammeCategory'].unique()
group_by_level_category = gra.groupby(['LevelOfStudy', 'ProgrammeCategory'])
group_by_level_category.groups
group_by_level_category.ngroups # number of groups
```

## More on Multiple Columns Groupby

**Example**:

```
group_by_level_category_year = gra.groupby(['LevelOfStudy', 'ProgrammeCategory', 'AcademicYear'])
group_by_level_category_year.get_group(('Undergraduate', 'Arts and Humanities', '2020/21' ))
```

## Groups Filtration

Filtration is a process in which we discard some groups, according to a group-wise computation that evaluates `True` or `False`.

* `group_by_level.Headcount.size()` # returns number of rows
* `group_by_level.Headcount.sum()` # returns the summation of group

# EXERCISE: Groupby

You have 5 minutes to practice `groupby()`

Group the graduates by LevelOfStudy and Sex.  Show the **total headcount** for each group.

# COMBINING MULTIPLE DATAFRAME
- **Concatenation**: combining together Series, DataFrame
- **Joining**: join operations is very similar to relational databases like SQL

## Reading Excel Files
```
left = pd.read_excel('./data/Students.xlsx', sheet_name=0)
right = pd.read_excel('./data/Students.xlsx', sheet_name=1)
```

## Using `merge()` function

**Matches rows based on a key column	Combining datasets using a common identifier (e.g., `AcademicYear`)**

```
joined = pd.merge(left, right, on='AcademicYear')
joined
```

## using `concat()` function

**Appending new rows or columns without matching keys**
```
df1 = pd.read_excel('./data/Students.xlsx', sheet_name=0)
df2 = pd.read_excel('./data/Students.xlsx', sheet_name=0)
concatencate1 = pd.concat([df1, df2])
concatencate1
concatencate2 = pd.concat([df1, df2], axis=1)
concatencate2
```